<div class="container">
  <div class="row mt-4">
    <div class="col text-center">
      <h2><strong>Professor Information</strong></h2>
      <h3><strong>Name:</strong> {{professor.name}}</h3>
    </div>
  </div>
  <div class="row mt-4 border-bottom">
    <div class="col-md-4">
      <div class="description-box p-3">
        <h3>Subjects Preview</h3>
        <p class="mb-2"><strong>Subjects count:</strong> 10</p>
        <p class="mb-2"><strong>Last updated:</strong> October 1, 2023</p>
        <button class="btn btn-dark" [routerLink]="[currentRoute, 'subjects']">View All</button>
      </div>
    </div>
    <div class="col-md-8">
      <div>
        <app-subject-list [subjects$]="previewSubjects$"></app-subject-list>
      </div>
    </div>
  </div>
</div>
