<div class="w-full overflow-x-auto" *ngIf="users$.getValue() && users$.getValue().length > 0; else noUsersFound">
  <table class="w-full border-collapse text-left text-sm [&_td]:border [&_td]:border-slate-200 [&_th]:border [&_th]:border-slate-200 [&_tbody_tr:nth-child(odd)]:bg-slate-50 [&_tbody_tr]:transition-colors [&_tbody_tr:hover]:bg-slate-100 overflow-scroll">
    <thead class="bg-[var(--app-red)] text-white">
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Role</th>
      <th>Creation Date</th>
      <th>Modification Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users$ | async" >
      <td [routerLink]="route ? route + '/' + user.id : null" >{{ user.name }}</td>
      <td>{{user.username}}</td>
      <td> ******** </td>
      <td>{{user.role}}</td>
      <td>{{user.creationDate | date: dateFormat}}</td>
      <td>{{user.modificationDate | date: dateFormat}}</td>
      <td class="flex justify-center">
        <button class="inline-flex items-center justify-center gap-2 rounded-md border border-transparent px-4 py-2 text-sm font-semibold leading-5 transition px-3 py-1.5 text-xs border-slate-900 text-slate-950 hover:bg-slate-950 hover:text-white mr-1" (click)="onEditClick(user.id)">Edit</button>
        <button class="inline-flex items-center justify-center gap-2 rounded-md border border-transparent px-4 py-2 text-sm font-semibold leading-5 transition px-3 py-1.5 text-xs border-[var(--app-red)] text-[var(--app-red)] hover:bg-[var(--app-red)] hover:text-white" (click)="onDeleteClick(user.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noUsersFound>
  <p>No Users Found.</p>
</ng-template>
