<div class="card mt-2">
  <div class="card-header rounded-3 ps-1 box-shadow text-center">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link rounded-3" [routerLink]="['subjects']" routerLinkActive="active" role="tab" aria-controls="subjects" aria-selected="true">Subjects</a>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content mt-2" id="myTabContent">
    <router-outlet></router-outlet>
  </div>
</div>


<div class="row ms-1 mt-3">
  <app-professor-preferred-days-from [professorId]="professorId" [professorPreferredDays$]="preferredDays$"></app-professor-preferred-days-from>
</div>
