<div class="row container d-flex justify-content-center mt-5">
  <div class="card user-card-full">
    <div class="row m-l-0 m-r-0">
      <div class="col-3 bg-c-lite-green user-profile">
        <div class="card-block text-center text-white">
          <div class="m-b-25">
            <img src="favicon.ico" class="img-radius" alt="User-Profile-Image" style="width: 150px; height: 200px;">
          </div>
          <div>
            <h6 class="f-w-600">{{ user.name}}</h6>
            <p>{{ user.role }}</p>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="card-block">
          <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Personal Information</h6>
          <div class="row">
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">FirstName</p>
              <h6 class="text-muted f-w-400">Not added yet</h6>
            </div>
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">LastName</p>
              <h6 class="text-muted f-w-400">Not added yet</h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">Email</p>
              <h6 class="text-muted f-w-400">Not added yet</h6>
            </div>
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">Phone</p>
              <h6 class="text-muted f-w-400">Not added yet</h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">Birthday</p>
              <h6 class="text-muted f-w-400">Not added yet</h6>
            </div>
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">Address</p>
              <h6 class="text-muted f-w-400">Not added yet</h6>
            </div>
          </div>
          <h6 class="m-b-20 p-b-5 b-b-default f-w-600 mt-3">Staff Information</h6>
          <div class="row">
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">Department</p>
              <h6 class="text-muted f-w-400">{{ user.departmentTransport.name }}</h6>
            </div>
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">Username</p>
              <h6 class="text-muted f-w-400">{{ user.username }}</h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">Role</p>
              <h6 class="text-muted f-w-400">{{ user.role }}</h6>
            </div>
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600">Rank</p>
              <h6 class="text-muted f-w-400"> Not added yet </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
