<div class = "department-container">
  <div *ngIf="program">
    <h1>{{ program.name }}</h1>
  </div>

  <div class = "preview-container">
    <div class = "preview-box">
      <app-subject-list [subjects$]="previewSubjects$"></app-subject-list>
      <button [routerLink]="[currentRoute, 'subjects']">Subjects</button>
    </div>
    <div class = "preview-box">
      <app-student-group-list [studentGroups$]="previewStudentGroups$"></app-student-group-list>
      <button [routerLink]="[currentRoute, 'student_groups']">Student Groups</button>
    </div>
  </div>
</div>





