<div class="w-full overflow-x-auto" *ngIf="classrooms$.getValue() && classrooms$.getValue().length > 0; else noClassroomsFound">
    <table
        class="w-full border-collapse text-left text-sm [&_td]:border [&_td]:border-slate-200 [&_th]:border [&_th]:border-slate-200 [&_tbody_tr:nth-child(odd)]:bg-slate-50 [&_tbody_tr]:transition-colors [&_tbody_tr:hover]:bg-slate-100 overflow-scroll"
    >
        <thead class="bg-[var(--app-red)] text-white">
            <tr>
                <th>Name</th>
                <th>Seats</th>
                <th>Lab</th>
                <ng-container *ngIf="isAdmin">
                    <th>Creation Date</th>
                    <th>Modification Date</th>
                    <th>Actions</th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let classroom of classrooms$ | async">
                <td>{{ classroom.name }}</td>
                <td>{{ classroom.numberOfSeats }}</td>
                <td>{{ classroom.hasComputers }}</td>
                <ng-container *ngIf="isAdmin">
                    <td>{{ classroom.creationDate | date: dateFormat }}</td>
                    <td>{{ classroom.modificationDate | date: dateFormat }}</td>
                    <td class="flex justify-center">
                        <button
                            class="inline-flex items-center justify-center gap-2 rounded-md border border-transparent px-4 py-2 text-sm font-semibold leading-5 transition px-3 py-1.5 text-xs border-slate-900 text-slate-950 hover:bg-slate-950 hover:text-white mr-1"
                            (click)="onEditClick(classroom.id)"
                        >
                            Edit
                        </button>
                        <button
                            class="inline-flex items-center justify-center gap-2 rounded-md border border-transparent px-4 py-2 text-sm font-semibold leading-5 transition px-3 py-1.5 text-xs border-[var(--app-red)] text-[var(--app-red)] hover:bg-[var(--app-red)] hover:text-white"
                            (click)="onDeleteClick(classroom.id)"
                        >
                            Delete
                        </button>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noClassroomsFound>
    <p>No Classrooms Found.</p>
</ng-template>
