<div class = "table-responsive" *ngIf="classrooms$?.getValue() && classrooms$.getValue().length > 0; else noClassroomsFound">
  <table class="table table-bordered table-striped table-hover overflow-scroll">
    <thead class="thead-dark-red">
    <tr>
      <th>Name</th>
      <th>Seats</th>
      <th>Lab</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let classroom of classrooms$ | async">
      <td>{{ classroom.name }}</td>
      <td>{{ classroom.numberOfSeats }}</td>
      <td>{{ classroom.hasComputers }}</td>
      <td class="d-flex justify-content-center">
        <button class="btn btn-sm btn-outline-dark me-1" (click)="onEditClick(classroom.id)">Edit</button>
        <button class="btn btn-sm btn-outline-danger" (click)="onDeleteClick(classroom.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noClassroomsFound>
  <p>No Classrooms Found.</p>
</ng-template>
