<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
          <div  *ngIf="departmentTransport.programTransports" class="container mt-5">
            <div class="mb-2">
              <h3 class="fw-semibold">{{currentProgramName}}</h3>
            </div>

            <app-program-schedule [programSchedule$]="programSchedule$"></app-program-schedule>

            <div class="mt-4">
              <h3>Programs</h3>
              <div>
                <button *ngFor="let program of departmentTransport.programTransports"
                        class="btn btn-outline-dark me-2 mb-2"
                        (click)="loadProgramSchedule(program)">
                  {{program.name}}
                </button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-md-2">
      <div class="mt-3 border-bottom border-1">
        <div class="border-bottom border-black mb-3">
          <h3>Available Schedules</h3>
        </div>

        <ul class="list-group">
          <li class="list-group-item" *ngFor="let schedule of schedules$ | async" (click)="selectSchedule(schedule)">{{schedule.creationDate | date: 'MMM d yyyy HH:mm'}} </li>
          <div class="mt-3 mb-2">
            <button class="btn btn-dark" (click)="openGenerateScheduleModal()">Generate New Schedule</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
