<div class="pt-4 pb-3 pl-3 my-2 box-shadow1 rounded-lg flex justify-between items-center">
    <div class="pl-2 flex-col items-center">
        <h4 class="font-bold mb-2 text-2xl">Program Details</h4>
        <h5 class="text-xl leading-relaxed font-normal">
            Name | <span class="red-text">{{ program.name }} </span>
        </h5>
        <h5 class="text-xl leading-relaxed font-normal">Accreditation Year | <span class="red-text"> 2016 </span></h5>
        <h6 class="italic font-light mt-3">View more program details down below</h6>
    </div>
</div>

<div class="rounded-lg border border-slate-200 bg-white mt-2">
    <div class="border-b border-slate-200 bg-white rounded-lg pl-1 shadow-sm text-center">
        <ul class="flex list-none flex-wrap items-center gap-2 p-0 border-b border-slate-200" id="myTab" role="tablist">
            <li class="list-none">
                <a
                    class="inline-flex items-center rounded-md px-3 py-2 text-sm font-medium transition rounded-lg"
                    [routerLink]="['professors']"
                    routerLinkActive="active"
                    >Professors</a
                >
            </li>
            <li class="list-none">
                <a
                    class="inline-flex items-center rounded-md px-3 py-2 text-sm font-medium transition rounded-lg"
                    [routerLink]="['subjects']"
                    routerLinkActive="active"
                    >Subjects</a
                >
            </li>
        </ul>
    </div>
    <div class="p-4 w-full mt-2" id="myTabContent">
        <router-outlet></router-outlet>
    </div>
</div>
