<div  class="pt-4 pb-3 ps-3 my-2 box-shadow1 rounded-3 d-flex justify-content-between align-items-center">
  <div class="ps-2 flex-column align-items-center">
    <h4 class="fw-bold mb-2 fs-4">Program Details</h4>
    <h5 class="lead fw-normal"> Name | <span class="red-text">{{ program.name }} </span> </h5>
    <h5 class="lead fw-normal"> Accreditation Year | <span class="red-text"> 2016 </span>  </h5>
    <h6 class="fst-italic fw-light mt-3">View more program details down below </h6>
  </div>
</div>

<div class="card mt-2">
  <div class="card-header rounded-3 ps-1 box-shadow text-center">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link rounded-3" [routerLink]="['professors']" routerLinkActive="active">Professors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rounded-3" [routerLink]="['subjects']" routerLinkActive="active">Subjects</a>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content mt-2" id="myTabContent">
    <router-outlet></router-outlet>
  </div>
</div>

