<div class = "container mt-5">
  <div class="row justify-content-end align-items-center my-2">
    <div class="col">
      <h5 class="mb-0">Classroom List</h5>
    </div>
    <div class="col-lg-auto">
      <button class= "btn btn-sm btn-dark px-4" (click)="openClassroomFormModal()">Add</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-classroom-list
        [classrooms$]="classrooms$"
        (editEvent)="openClassroomFormModalInEditMode($event)"
        (deleteEvent)="deleteClassroom($event)"
      ></app-classroom-list>
    </div>
  </div>
</div>

