.update-list button {
  width: 15%;
  border-radius: 15%;
  font-size: 0.8em;
  color: white;
  font-weight: 600;
}

.edit-button {
   background: #89a7c9;
   margin-right: 10px;
}

.delete-button {
  background: #952323;
}
