<section class="flex items-center justify-center">
    <div class="hero-section">
        <div class="hero-content">
            <h1 class="hero-title">Welcome to <span>ScheduleUP</span></h1>

            <p class="hero-subtitle">Your one-stop solution for managing university schedules</p>

            <p class="hero-description">
                Generate optimized schedules, reduce conflicts, and help students and professors find their weekly
                timetable
                with a
                clean and interactive interface.
            </p>

            <div class="hero-actions">
                <a routerLink="/login" class="hero-action hero-action-primary"> Get Started </a>

                <a routerLink="/about" class="hero-action hero-action-secondary"> Learn More </a>
            </div>
        </div>

        <home-schedule-preview />
    </div>
</section>
