<div class = "department-container">
  <div *ngIf="subject">
    <h1>{{ subject.name }}</h1>
  </div>

  <div class = "preview-container">
    <div class = "preview-box">
      <app-student-group-list [studentGroups$]="previewStudentGroups$"></app-student-group-list>
      <button [routerLink]="[currentRoute, 'student_groups']">Student Groups</button>
    </div>
    <div class = "preview-box">
      <app-professor-list [professors$]="previewProfessors$"></app-professor-list>
      <button [routerLink]="[currentRoute, 'professors']">Professors</button>
    </div>
  </div>
</div>
