<div class = "department-container">
  <div *ngIf="department">
    <h1>{{ department.name }}</h1>
  </div>

  <div class = "preview-container">
    <div class = "preview-box">
      <app-program-list [programs$]="previewPrograms"></app-program-list>
      <button [routerLink]="[currentRoute, 'programs']">Programs</button>
    </div>
    <div class = "preview-box">
      <app-professor-list [professors$]="previewProfessors"></app-professor-list>
      <button [routerLink]="[currentRoute, 'professors']">Professors</button>
    </div>
    <div class = "preview-box">
      <app-classroom-list [classrooms$]="previewClassrooms"></app-classroom-list>
      <button [routerLink]="[currentRoute, 'classrooms']">Classrooms</button>
    </div>
  </div>
</div>


