<div class="modal-dialog modal-dialog-centered modalCenter">
  <div class="modal-content  " style="border: 1px solid lightgray; border-radius: 10px;">
    <div class="modal-header " style="border-bottom: 1px solid lightgray;">
      <h4 class="modal-title fw-semibold red-text" style="margin-left: 45%;">Login</h4>
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close" style="color: white;"></button>
    </div>
    <div class="modal-body overflow-y-scroll" style="max-height: 450px;">
      <div class="row">
        <div class="col-md-7 ">
          <div class="text-center">
            <img src="/assets/hat-logo-tr.png" alt="Image" class="img-fluid rounded" style="max-width: 100%; height: auto;">
          </div>
        </div>
        <div class="col-md-5 " style="border-left: 1px solid lightgray;">
          <div class="form-container mt-5 px-3">
            <form [formGroup]="modalData.form">
              <div class="form-group mb-5">
                <label for="username" class="form-label lead fw-normal">Username</label>
                <input class="form-control" type="text" id="username" formControlName="username" placeholder="Username">
              </div>
              <div class="form-group mb-3">
                <label for="password" class="form-label lead fw-normal">Password</label>
                <input class="form-control" type="text" id="password" formControlName="password" placeholder="Password">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-between" style="border-top: 1px solid lightgray;">
      <button class="btn btn-outline-dark" (click)="closeModal()">Close</button>
      <div>
        <button class="btn btn-outline-danger" (click)="onPostClick()">Login</button>
      </div>
    </div>
  </div>
</div>
