<div class="row mt-5 text-center">
  <h2 class="fw-semibold">{{professorName}}</h2>
</div>
<div class="row mt-3">
  <div class="col-md-10">
    <app-professor-schedule [professorSchedule$]="professorSchedule$"></app-professor-schedule>
  </div>
  <div class="col-md-2 mt-3">
    <div class="d-flex flex-column">
      <h4 class="fw-semibold">Professors</h4>
      <div class="mb-2">
        <input type="text" class="form-control" placeholder="Kerko profesorin " (input)="onSearch($event)">
      </div>
      <div class="d-flex flex-column">
        <button *ngFor="let professor of filteredProfessors$ | async"
                class="btn btn-outline-dark me-2 mb-2"
                (click)="loadProfessorSchedule(professor)">
          {{professor.name}}
        </button>
      </div>
      <button class="btn btn-danger me-2" (click)="goBack()"> Kthehu </button>
    </div>
  </div>
</div>

