<div class="row mt-5 text-center">
  <h2 class="fw-semibold">{{classroomName}}</h2>
</div>
<div class="row mt-3">
  <div class="col-md-10">
    <app-classroom-schedule [classroomSchedule$]="classroomSchedule$"></app-classroom-schedule>
  </div>
  <div class="col-md-2 mt-3">
    <div class="d-flex flex-column">
      <h4 class="fw-semibold">Classrooms</h4>
      <button *ngFor="let classroom of classrooms"
                      class="btn btn-outline-dark me-2 mb-2"
                      (click)="loadClassroomSchedule(classroom)">
                {{classroom.name}}
      </button>
      <button class="btn btn-danger me-2" (click)="goBack()"> Kthehu </button>
    </div>
  </div>
</div>

