<header>
  <nav>
    <ul class="menu">
      <li class ="menu-item menu-container"><a routerLink="/schedules">Schedule</a></li>
      <ul class="dropdown-menu">
        <ul class = "list"><a routerLink="/schedules">View Existing</a></ul>
        <ul class = "list"><a routerLink="/schedule">Generate New</a></ul>
      </ul>
      <ul class = "menu-item"><a routerLink="/departments">Departments</a></ul>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
</footer>
