<div class = "table-responsive" *ngIf="subjects$?.getValue() && subjects$.getValue().length > 0; else noSubjectsFound">
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark-red">
    <tr>
      <th>Name</th>
      <th>M/O</th>
      <th>Hours</th>
      <th>Etcs</th>
      <th>Requires Lab</th>
      <th>Semester</th>
      <th>Creation Date</th>
      <th>Modification Date</th>
      <th *ngIf="manageList">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subject of subjects$ | async" (click)="onSelectClick($event, subject.id)">
      <td [routerLink]="[route ? route + '/' + subject.id : null]">{{ subject.name }}</td>
      <td>{{ subject.requirementType }}</td>
      <td>{{ subject.hours }}</td>
      <td>{{ subject.etcs }}</td>
      <td>{{ subject.requiresLab }}</td>
      <td>{{ subject.semester }}</td>
      <td>{{ subject.creationDate | date: dateFormat}}</td>
      <td>{{ subject.modificationDate | date: dateFormat}}</td>
      <td *ngIf="manageList" class="d-flex justify-content-center">
        <button class="btn btn-sm btn-outline-dark me-1" (click)="onEditClick($event, subject.id)">Edit</button>
        <button class="btn btn-sm btn-outline-danger" (click)="onDeleteClick($event, subject.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noSubjectsFound>
  <p>No Subjects Found.</p>
</ng-template>
