<div class = "table-responsive" *ngIf="studentGroups$ | async; else noStudentGroupsFound">
  <table class="table table-bordered table-striped table-hover overflow-scroll">
    <thead class="thead-dark-red">
    <tr>
      <th>Name</th>
      <th>Number of Students</th>
      <th>Group Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let studentGroup of studentGroups$ | async" [routerLink]="route ? route + '/' + studentGroup.id : null">
      <td>{{ studentGroup.name }}</td>
      <td>{{ studentGroup.numberOfStudents }}</td>
      <td>{{ studentGroup.groupType }}</td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noStudentGroupsFound>
  <p>No StudentGroup Found.</p>
</ng-template>
