<div class="container py-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="fw-bolder red-text mb-0">Welcome to ScheduleUP</h1>
      <p class="lead">Your one-stop solution for managing university schedules</p>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col-md-6 text-center d-flex flex-column align-items-center">
      <img class="picture" src="/assets/hat-logo-tr.png" alt="Logo">
      <div class="text-center">
        <h5>Unlock Efficiency | <span class="red-text">ScheduleUp Today</span></h5>
        <div class="p-1">
          <h6 class="mb-0 fst-italic"><strong class="red-text">ScheduleUP</strong> simplifies the process of viewing and managing schedules.</h6>
          <h6 class="fst-italic">Explore various schedule formats tailored to meet your specific requirements.</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <div class="row d-flex align-items-stretch">

      <!-- Schedule Column -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 p-1 box-shadow">
          <div class="card-body text-center">
            <h3 class="fw-bold card-title">View <span class="red-text">Schedules</span></h3>
            <p class="lead">View existing schedules for the university departments.</p>
            <div class="d-flex justify-content-center">
              <div>
                <button *ngFor="let department of departments | async"
                        class="btn btn-danger me-2 mb-2"
                        (click)="navigateToPage(department.id, 'schedules')"
                style="width: 130px;">
                  {{ department.name }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Data Column -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 p-1 box-shadow">
          <div class="card-body text-center">
            <h3 class="fw-bold card-title">View <span class="red-text">Data</span></h3>
            <p class="lead">View department related data such as professors or subjects.</p>
            <div class="d-flex justify-content-center">
              <div>
                <button *ngFor="let department of departments | async"
                        class="btn btn-outline-dark me-2 mb-2"
                        (click)="navigateToPage(department.id)"
                  style="width: 130px;">
                  {{ department.name }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- About Us Column -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 p-1 box-shadow">
          <div class="card-body text-center">
            <h3 class="fw-bold card-title">About <span class="red-text">Us</span></h3>
            <p class="lead">ScheduleUp is an application designed to simply the process of viewing and managing schedules ... </p>

            <a href="#" class="btn btn-dark"  style="width: 130px;">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
