<div class ="list-container">
  <h2 class = "list-header">Program List</h2>
  <div class = "table-container" *ngIf="programs$; else noProgramsFound">
    <table>
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let program of programs$ | async"  [routerLink]="['/departments', departmentId, 'programs', program.id]" >
        <td>{{ program.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noProgramsFound>
    <p>No Programs Found.</p>
  </ng-template>
</div>
