<div class = "container mt-5">
  <div class="row justify-content-end align-items-center my-2">
    <div class="col">
      <h5 class="mb-0">Program List</h5>
    </div>
    <div class="col-lg-auto">
      <button class= "btn btn-sm btn-dark px-4" (click)="openForm()">Add</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-program-list [programs$]="programs$" [route]="route"></app-program-list>
    </div>
  </div>
</div>

<div class="form-container" *ngIf="showForm">
  <form [formGroup]="programForm">
    <div class="form-group">
      <label class="form-label" for="name">Name</label>
      <input class= "form-control" type="text" id="name" formControlName="name" placeholder="Program Name" >
    </div>
    <button class= "btn btn-primary" (click)="postProgram()">Add Program</button>
  </form>
</div>
