<div class = "table-responsive" *ngIf="subjects$ | async; else noSubjectsFound">
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark-red">
    <tr>
      <th>Name</th>
      <th>Etcs</th>
      <th>Requires Lab</th>
      <th>Semester</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subject of subjects$ | async"  [routerLink]="[route ? route + '/' + subject.id : null]">
      <td>{{ subject.name }}</td>
      <td>{{ subject.etcs }}</td>
      <td>{{ subject.requiresLab }}</td>
      <td>{{ subject.semester }}</td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noSubjectsFound>
  <p>No Subjects Found.</p>
</ng-template>
