<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content" style="border: 1px solid lightgray; border-radius: 10px;">
    <div class="modal-header" style="border-bottom: 1px solid lightgray;">
      <h4 class="modal-title fw-semibold text-center">Subject Form</h4>
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close" style="color: white;"></button>
    </div>
    <div class="modal-body overflow-y-scroll" style="max-height: 450px">
        <div class="form-container mt-1 px-5" *ngIf="modalData.showForm; else showList">
          <form [formGroup]="modalData.form">
            <div class="form-group">
              <label class="form-label" for="name">Name</label>
              <input class= "form-control" type="text" id="name" formControlName="name" placeholder="Subject Name" >
            </div>
            <div class="form-group">
              <label class="form-label" for="etcs">Etcs</label>
              <input class= "form-control" type="number" id="etcs" formControlName="etcs" placeholder="Etcs" >
            </div>
            <div class="form-group">
              <label class="form-label" for="requiresLab">Requires Lab: </label>
              <select id="requiresLab" formControlName="requiresLab" class="form-select">
                <option *ngFor="let labRequirement of modalData.labRequirements" [value]="labRequirement">{{ labRequirement }}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="semester">Semester</label>
              <input class= "form-control" type="number" id="semester" formControlName="semester" placeholder="Semester" >
            </div>
            <div class="form-group">
              <label class="form-label" for="requirementType">Requirement Type: </label>
              <select id="requirementType" formControlName="requirementType" class="form-select">
                <option *ngFor="let requirementType of modalData.requirementTypes" [value]="requirementType">{{ requirementType }}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="hours">Hours: </label>
              <select id="hours" formControlName="hours" class="form-select">
                <option *ngFor="let hour of modalData.hours" [value]="hour">{{ hour }}</option>
              </select>
            </div>
          </form>
        </div>
       <ng-template #showList>
         <app-subject-list [subjects$]="modalData.data$" [route]="modalData.route" (selectEvent)="getSelectedSubject($event)"></app-subject-list>
       </ng-template>
    </div>
    <div class="modal-footer d-flex justify-content-between" >
      <button class="btn btn-outline-dark" (click)="closeModal()">Close</button>
      <div *ngIf="modalData.isEditMode; else postingSubject">
        <button class="btn btn-primary" (click)="onUpdateClick(modalData.selectedId)">Edit Subject</button>
      </div>
      <ng-template #postingSubject>
        <button class="btn btn-success" (click)="onPostClick()">Add Subject</button>
      </ng-template>
    </div>
  </div>
</div>
