<div class = "container mt-5">
  <div class="row justify-content-end align-items-center my-2">
    <div class="col">
      <h5 class="mb-0">Subject List</h5>
    </div>
    <div class="col-lg-auto">
      <button class= "btn btn-sm btn-dark px-4" (click)="openSubjectFormModal()">Add</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-subject-list
        [subjects$]="subjects$"
        [route]="route"
        [manageList]="true"
        (editEvent)="openSubjectFormModalInEditMode($event)"
        (deleteEvent)="deleteSubject($event)"
      ></app-subject-list>
    </div>
  </div>
</div>
