<div class="schedule-detail-page">
  <div class="schedule-main-panel">
    <div class="text-center">
      <h2 class="fw-bold mb-1">Program | <span class="red-text">{{selectedProgram$.getValue().name}}</span></h2>
      <h6 class="fst-italic fw-light">View the schedule offered in the program grouped format</h6>
    </div>
    <app-program-schedule [programSchedule$]="programSchedule$"></app-program-schedule>
  </div>
  <div class="schedule-side-panel">
    <div class="d-flex flex-column">
      <h4 class="fw-semibold">Programs</h4>
      <button *ngFor="let program of programs"
              class="btn btn-outline-dark me-2 mb-2"
              [class.active] = 'program.id == selectedProgram$.getValue().id'
              (click)="loadProgramSchedule(program)">
        {{program.name}}
      </button>
      <button class="btn btn-danger me-2" (click)="goBack()"> Go Back </button>
    </div>
  </div>
</div>
