<div class="table-responsive" *ngIf="(bestScheduleEvents$?.getValue() && bestScheduleEvents$.getValue().length > 0) || (bestProgramSchedule && bestProgramSchedule.events && bestProgramSchedule.events)">
  <table class="table table-bordered table-striped table-hover rounded-3 overflow-hidden ">
    <thead class="thead-dark-red">
    <tr>
      <th>Subject</th>
      <th>M/O</th>
      <th>Hours</th>
      <th>Ects</th>
      <th>L/E</th>
      <th>Professor</th>
      <th>Day</th>
      <th>Timeslot </th>
      <th>Class</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of (bestScheduleEvents$ | async) || bestProgramSchedule.events" [ngClass]="{'table-danger': event.conflict}">
      <td>{{ event.subjectTransport.name}}</td>
      <td>{{ event.subjectTransport.requirementType[0]}}</td>
      <td>{{ event.subjectTransport.hours}}</td>
      <td>{{ event.subjectTransport.etcs}}</td>
      <td>{{ event.studentGroupTransport.groupType}}</td>
      <td>{{ event.professorTransport.name}}</td>
      <td>{{ event.timeslot.day.slice(0,3)}}</td>
      <td>
        {{ event.timeslot.startHour.toString().padStart(2, '0') }}:{{ event.timeslot.startMinute.toString().padStart(2, '0') }}
        -{{ event.timeslot.endHour.toString().padStart(2, '0') }}:{{ event.timeslot.endMinute.toString().padStart(2, '0') }}
      </td>
      <td>{{ event.classroom.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
