body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
  font-size: 1.2em;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.list-header {
  margin-bottom: 0.3em;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-container {
  border-radius: 10px;
  font-size: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  overflow: hidden;
}

.table-container table {
  width: 100%;
  table-layout: fixed;
}

.table-container td {
  width: 0;
  line-height: 50px;
}

.table-container thead tr {
  background-color: #952323;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
}

.table-container tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-container tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-container tbody tr:last-of-type {
  border-bottom: 2px solid #952323;
}

.table-container tbody tr.active-row {
  font-weight: bold;
  color: #952323;
}

.table-container tbody tr:hover {
  background-color: #e0e0e0;
}

/*td.error-cell {*/
/*  color: red;*/
/*}*/

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.save-button {
  background-color: #007bff;
  color: #fff;
}

.save-button:hover {
  background-color: #0056b3;
}

.form-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.crud-buttons {
  margin-top: 3rem;
}
