.modal-dialog {
  max-width: max-content;
}

.modal-content {
  border: none;
}

.modal-header {
  padding: 5px;
  display: flex;
  justify-content: center;
  border: none;
}

.thead-dark-red {
  --bs-table-bg: #952323;
  --bs-table-color: white;
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

.form-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
