body {
  font-family: 'Poppins', 'sans-serif';
}

.modal-dialog {
  --bs-modal-bg: none;
  max-width: max-content;
}

.modal-content {
  border: none;
  height: 100%;
}

.modal-body {
  background: white;
}

.modal-footer {
  background: white;
}

.modal-header {
  background: white;
  border: none;
}

.thead-dark-red {
  --bs-table-bg: #952323;
  --bs-table-color: white;
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-input {
  width: 70%;
  height: 85%;
}
