<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content" style="border: 1px solid lightgray; border-radius: 10px;">
    <div class="modal-header" style="border-bottom: 1px solid lightgray;">
      <h3 class="modal-title fw-semibold">Program Form</h3>
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close" style="color: white;"></button>
    </div>
    <div class="modal-body overflow-auto">
      <div class="form-container mt-4 px-4">
        <form [formGroup]="modalData.form">
          <div class="form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" formControlName="name" placeholder="Program Name">
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-between" >
      <button class="btn btn-outline-dark" (click)="closeModal()">Close</button>
      <div *ngIf="modalData.isEditMode; else postingProgram">
        <button class="btn btn-dark mr-auto" (click)="onUpdateClick(modalData.selectedId)">Edit Program</button>
      </div>
      <ng-template #postingProgram>
        <button class="btn btn-dark mr-auto" (click)="onPostClick()">Add Program</button>
      </ng-template>
    </div>
  </div>
</div>
