
<div class="text-center my-5" >
  <h1 class="fw-bold mb-0 red-text">About ScheduleUp</h1>
  <p class="lead text-center fw-normal mt-0">Welcome to ScheduleUp, your solution for simplified university scheduling.</p>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <div class="card h-100 mb-5 box-shadow border" style="border: none;">
      <div class="card-body mx-4 my-2">
        <h3 class="card-title mt-3 fw-bold p-2" style="background: #ce2a2d; color: white">Our Vision</h3>

        <p class="lead fw-normal mt-4">ScheduleUp started with a simple idea: to make university scheduling more efficient and user-friendly.
          We envisioned a platform that not only simplifies the process for administrators
          but also provides a seamless experience for students.</p>
        <p class="lead fw-normal">Our mission is to transform the way universities manage their schedules,
          offering a modern, interactive, and accessible tool that enhances the educational experience.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 ">
    <div class="card h-100 mb-5 box-shadow border" style="border: none;" >
      <div class="card-body mx-4 my-2">
        <h3 class="card-title fw-bold text-center mt-3 p-2" style="background: #ce2a2d; color: white">What We Offer</h3>
        <ul class="list-styled mt-4">
          <li class="lead mb-2 fw-normal">
            <strong class="red-text">Effortless Scheduling |</strong>
            Say goodbye to cumbersome scheduling processes. ScheduleUp automates the schedule generation process, saving valuable time for university administrators.</li>
          <li class="lead mb-2 fw-normal">
            <strong class="red-text">Real-Time Updates | </strong>
            With ScheduleUp, updates to schedules are seamless. Instantly reflect changes, cancellations, or additions to courses with just a few clicks.</li>
          <li class="lead mb-2 fw-normal">
            <strong class="red-text">User-Friendly Interface |</strong>
            Designed with simplicity in mind, ScheduleUp offers an intuitive interface for both administrators and students. Easily navigate and access schedules with clarity and ease.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card h-100 box-shadow border" style="border: none;">
      <div class="card-body text-center mx-4 ">
        <div class="mt-0">
          <h3 class="card-title fw-bold mt-2 p-2 border" style="background: #ce2a2d; color: white">Developer and Founder</h3>
          <div class="my-3">
            <h5 class="fw-semibold mb-0"><strong class="red-text">Name</strong> | Adenita Luta</h5>
            <h5 class="fw-semibold"><strong class="red-text">Role</strong> | Lead Developer, Designer, and Innovator</h5>
          </div>
          <div class="mb-3">
            <h5 class="lead fw-normal "> As the sole worker behind <strong class="red-text">ScheduleUp</strong>,
              I embarked on this project with a passion for simplifying complex processes. With a background computer science bachelors at the FSHMN University,
              I envisioned a tool that would revolutionize how universities approach scheduling. <strong class="red-text">ScheduleUp</strong>  is the result of countless hours of dedication
              to crafting a solution that brings efficiency and ease to universities and their students.</h5>
          </div>
          <div>
            <a href="https://github.com/adenita" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 0 0-2.534 15.556c.4.074.547-.174.547-.386 0-.19-.007-.69-.01-1.357-2.223.484-2.695-1.072-2.695-1.072-.364-.924-.89-1.17-.89-1.17-.727-.498.056-.488.056-.488.803.056 1.225.826 1.225.826.713 1.222 1.872.87 2.33.665.072-.516.277-.87.503-1.07-1.765-.2-3.623-.883-3.623-3.93 0-.867.31-1.578.824-2.13-.083-.2-.36-1.008.078-2.1 0 0 .67-.214 2.2.815.64-.178 1.32-.267 2-.27.68.003 1.36.092 2 .27 1.53-1.03 2.2-.815 2.2-.815.44 1.092.16 1.9.08 2.1.51.552.82 1.263.82 2.13 0 3.053-1.86 3.727-3.63 3.922.285.245.54.73.54 1.48 0 1.068-.01 1.927-.01 2.19 0 .214.147.464.55.385A8.008 8.008 0 0 0 8 0z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<hr class="my-5">
