<div class = "container mt-5">
  <div class="row justify-content-end align-items-center my-2">
    <div class="col">
      <h5 class="mb-0">Professor List</h5>
    </div>
    <div class="col-lg-auto">
      <button class= "btn btn-sm btn-dark px-4" (click)="openProfessorFormModal()">Add</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-professor-list
        [professors$]="professors$"
        [route]="route"
        (editEvent)="openProfessorFormModalInEditMode($event)"
        (deleteEvent)="deleteProfessor($event)"
      ></app-professor-list>
    </div>
  </div>
</div>


