<div>
   <div class="row">
     <div class="col-md-3">
       <h3>Professor Preferred Days</h3>
     </div>
     <div class="col">
       <button type="button" class="btn btn-sm btn-dark" (click)="openModal()">Add</button>
     </div>
   </div>
  <form>
    <div class="form-group">
      <div *ngFor="let preferredDay of professorPreferredDays$ | async">
        <div class="row g-1 mb-1">
          <div class="col-md-1 me-2 mt-2">
            <label class="fw-bold">{{preferredDay.day}}: </label>
          </div>
          <div class="col-md-1" style="width: 60px">
            <input type="number" class="form-control" name="preferredStartHour"
                   value="{{preferredDay.preferredStartHour}}"
                   min="8" max="19" required disabled>
          </div>
          <div class="col-md-1 mt-2" style="width: max-content">:</div>
          <div class="col-md-1" style="width: 60px">
            <input type="number" class="form-control" name="preferredStartMinute"
                   value="{{preferredDay.preferredStartMinute}}"
                   min="0" max="45" step="15" required disabled>
          </div>
          <div class="col-md-1 mt-2 mx-1" style="width: max-content">-</div>
          <div class="col-md-1" style="width: 60px">
            <input type="number" class="form-control" name="preferredEndHour"
                   value="{{preferredDay.preferredEndHour}}"
                   min="9" max="20" required disabled >
          </div>
          <div class="col-md-1 mt-2" style="width: max-content">:</div>
          <div class="col-md-1" style="width: 60px">
            <input type="number" class="form-control" name="preferredEndMinute"
                   value="{{preferredDay.preferredEndMinute}}"
                   min="0" max="45" step="15" required disabled>
          </div>
          <div class="col-md-2 mt-2">
             <button type="button" class="btn btn-sm btn-primary me-1" (click)="openEditModal(preferredDay.day)">Edit</button>
             <button type="button" class="btn btn-sm btn-danger" (click)="deleteProfessorPreferredDay(professorId, preferredDay.day)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
